.dropButton{
    border: none;
    outline: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.dropButton:hover{
    box-shadow: 0 10px 10px var(--secondary-color)
}
.dropButton:focus,
.dropButton:active {
    outline: none; /* Ensure outline is removed on focus */
}
.dropButton .avatar i{
    font-size: 80px;
    margin: auto;
}