.mproduct--image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .mcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 50vh;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
  .mno_investments {
    color:white;
    background-color:#000;
    font-size: 22px;
  }
  .mhead {
    color: grey;
    font-size: 22px;
   
    
  }
  .menter {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px 0;
    margin-right: 50px; 
  }
  .mbtn{
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;

    background-color:rgb(3, 89, 23);
    color:#f3f9fa;
    width: 500px;      /* Set specific width (optional) */
   height: 50px;  
    

  }
  .form-inline{
    align-items: center;
  }
  .mname{
    color: #000;
  }
  .mdiscription{
    color: rgb(79, 80, 79);
  }
  
.modalBackground{
  background-color: #000;
  position: absolute;
  top: 200px;
  left: 400px;
  padding: 10px;
  border-radius: 2%;
  color: #f3f9fa;
}
.manu_btn{
  position: relative;
  right: -720px;

  font-size: 12px; /* Reduce the font size */
    padding: 2px 5px; /* Adjust padding */
    width: 25px; /* Set the width */
    height: 25px; /* Set the height */
    line-height: 1; /* Ensure text aligns well */
    border-radius: 10%; /* Make it more circular */
  
}
.mmmmbtn{
  position: relative;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(3, 89, 23);
  color: white;
  cursor: pointer;
  left: 700;
}

.form-control{
  width: 500px;
}
.m_btn {
  background-color: #0a5360;
}
.m_titleCloseBtn{
  position: relative;
  left: -200px;
   /* Adjust the font size */
  padding: 10px 5px; /* Adjust the padding */
  width: 1px; /* Set a specific width */
/* Set a specific height */
   /* Ensure the text aligns well */
  border-radius: 4px; 
}
.mm_titleCloseBtn{
  position: relative;
  right: -300px;
}
.manu__btn{
  position: relative;
  right: -220px;

  font-size: 12px; /* Reduce the font size */
    padding: 2px 5px; /* Adjust padding */
    width: 25px; /* Set the width */
    height: 25px; /* Set the height */
    line-height: 1; /* Ensure text aligns well */
    border-radius: 10%; /* Make it more circular */
}