.product--image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 50vh;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
  .no_investments {
    color:white;
    background-color:#000;
    font-size: 22px;
  }
  .head {
    color: grey;
    font-size: 22px;
   
    
  }
  .menter {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px 0;
    margin-right: 50px; 
  }
  .mbtn{
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;

    background-color:rgb(3, 89, 23);
    color:#f3f9fa;
    width: 500px;      /* Set specific width (optional) */
   height: 50px;  
    

  }
  .form-inline{
    align-items: center;
  }
  .mname{
    color: #000;
  }
  .mdiscription{
    color: rgb(79, 80, 79);
  }
  
.modalBackground{
  background-color: #000;
  position: absolute;
  top: 200px;
  left: 400px;
  padding: 10px;
  border-radius: 2%;
  color: #f3f9fa;
}
.manubtn{
  position: relative;
  right: -520px;
}
.mmmmbtn{
  position: relative;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(3, 89, 23);
  color: white;
  cursor: pointer;
  left: 700;
}

  