.side{
    /* background-color: #f8f9fa; */
    display: flex;
    gap: 5px;
    width: 60%;
    position: relative;
    left: 19%;
    top: 2em;
}

.stside{
    width: 600px;
    height: 30em;
    
}
.topic{
    background-color:  #304d6b;
    color: white;
    text-align: center;
}
.sside{
    background-color:rgb(14, 115, 177);
    overflow-y: inherit;
    overflow-x: hidden;
    height: 30em;
    padding: 10px;
}