.msignupdiv{
    width: 80vh;
    height: 100%;
    background-color: rgb(14, 115, 177);
    padding: 15px;
    font-family: Cambria Math;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 30%;
    transform: translateY(2%);
}
.login{
    background:rgb(14, 115, 177);
}
.mcenter{
    display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 10vh; 
}
.mopen{
    justify-content: center; /* Centers horizontally */
    align-items: center;
}
.mmbtn{
  position: relative;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(3, 89, 23);
  color: white;
  cursor: pointer;
  right: -600px;
}
.mmmbtn{
  position: relative;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(3, 89, 23);
  color: white;
  cursor: pointer;
  right: -600px;

}